body
{
    font-family: monospace;
    background-color: #333333;
    color: #e6e6e6;
}

table
{
    font-size: 12px;
    table-layout: fixed;
    border-spacing: 4px;
}

form
{
    height: 2em;
    margin: auto;
    display: flex;
}

td
{
    padding-left: 12px;
    padding-right: 12px;
}

a:link
{
    color: #e6e6e6;
}

a:visited
{
    color: #c2c2c2;
}

#searchinput
{
    background-color: #cccccc;
}

#main-container
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#mainbox
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prompt
{
    white-space: nowrap;
}

.box
{
    display: flex;
    margin: 8px;
}

#newsbox, #rssbox
{
    min-height: 100px;
    min-width: 0;
    max-width: 75%;
}

#newstable, #rsstable
{
    overflow-wrap: break-word;
    word-wrap: break-word;
}
